In [1]:
from pyspark.sql import SparkSession

In [2]:
#to start  the spark session in the machine
spark = SparkSession.builder.appName("Basics").getOrCreate()

22/09/03 15:34:45 WARN Utils: Your hostname, Dhananjays-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.101.124.198 instead (on interface en0)
22/09/03 15:34:45 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/03 15:34:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
#to read the data 
df = spark.read.json('people.json')

In [4]:
#to show the dataframe
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
#to print the schema of the dataframe
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
# this will give the columns names in the form the list
df.columns

['age', 'name']

In [9]:
# this will provide the information about the data in the form the dataframe
# where it will provide tge data type also
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
# this will give the whole summary of the dataframe like count,mean etc.
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [14]:
#make changes in the schema
data_schema = [StructField('age',IntegerType(),True),
                StructField('name',StringType(),True)]

In [15]:
#finalizing the datatype of the values present in the dataframe
final_struc = StructType(fields = data_schema)

In [16]:
#mentioning schema while reading make changes in the age as it change from long to integer
df = spark.read.json('people.json',schema = final_struc)

In [17]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [18]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [19]:
df['age']

Column<'age'>

In [20]:
type(df['age'])

pyspark.sql.column.Column

In [22]:
#to actually ge the data for the particular column
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [23]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [25]:
#getting in the form of list if I use head
df.head(2)[0]

Row(age=None, name='Michael')

In [26]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [28]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [29]:
#adding a new column in the dataframe
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [30]:
#if I want to make some changes in the columns
df.withColumn('doubleage',df['age']*2).show()
#this change in is not permanent

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [31]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [33]:
df.createOrReplaceTempView('people')

In [34]:
result = spark.sql("SELECT * FROM people")

In [35]:
result.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
new_result  = spark.sql("SELECT * FROM people WHERE age = 30")

In [37]:
new_result.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+